node_modules/
client/node_modules/
server/node_modules/

.env
server/.env
server/.dev-auth-secret

.next/
client/.next/

.wwebjs_auth/
.wwebjs_cache/
server/.wwebjs_auth/
server/.wwebjs_cache/
backups/
server/backups/

*.log
server-start.out.log
server-start.err.log
